.publish-wrapper {
  padding-top: 100px;
}

.publish-wrapper .container {
  position: relative;
}

.publish-wrapper .container h3 {
  padding-top: 20px;
}

.publish-wrapper .container .success,
.publish-wrapper .container .failure {
  width: 290px;
  text-align: center;
  color: white;
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0 0 3px 3px;
}

.publish-wrapper .container .success {
  background-color: #39db80;
}

.publish-wrapper .container .failure {
  background-color: #fc100dd6;
}

.publish-wrapper .col {
  display: flex;
}

.publish-wrapper .left {
  flex-basis: 50%;
}
.publish-wrapper .left form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.publish-wrapper .left .in {
  border: 1px solid #777;
}

.publish-wrapper .left form .desc {
  height: 300px !important;
}
.publish-wrapper .right {
  flex-basis: 50%;
}
